/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* custom */
body{
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}
a{
    text-decoration: none;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* variables */
.root{
    --Primary:rgb(89,191,194);
    --Secondary: white;
    --text-dark:rgb(40,62,125);
    --bg-light:rgb(213,229,229);
    --text-light:rgb(110,113,120);
}
/* general classes */
.center{
    text-align: center;
}

.margin{
    margin: 1rem;
}

.padding{
    padding: 1rem;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    height: 100vh;
}
.btn{
    display: inline-block;
    padding: 16px;
    color: var(---Secondary);
    background-color: var(---Primary);
}
/* flex */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-end{
    justify-content: end;
}

.display-flex{
    display: flex;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-45{
    flex: 0 1 45%;
}
.flex-40{
    flex: 0 1 40%;
}
.card{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.box0{
    border-right: 0.3rem solid  aliceblue;
    border-bottom: 0.3rem solid  aliceblue;
}
.box1{
    border-right: 0.3rem solid  aliceblue;
    border-bottom: 0.3rem solid  aliceblue;
    border-left: 0.3rem solid  aliceblue;
}
.box2{
    border-left: 0.3rem solid  aliceblue;
    border-bottom: 0.3rem solid  aliceblue;
}
.box3{
    border-top: 0.3rem solid  aliceblue;
    border-bottom: 0.3rem solid  aliceblue;
    border-right: 0.3rem solid  aliceblue;
}
.box4{
    border: 0.3rem solid  aliceblue;
}
.box5{
    border-top: 0.3rem solid  aliceblue;
    border-bottom: 0.3rem solid  aliceblue;
    border-left: 0.3rem solid  aliceblue;
}
.box6{
    border-top: 0.3rem solid  aliceblue;
    border-right: 0.3rem solid  aliceblue;
  
}
.box7{
    border-top: 0.3rem solid  aliceblue;
    border-left: 0.3rem solid  aliceblue;
    border-right: 0.3rem solid  aliceblue;
}
.box8{
    border-top: 0.3rem solid  aliceblue;
    border-left: 0.3rem solid  aliceblue;
}
.plate{
    display: flex;
}
header{
    padding:  1rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
}
h3{
    font-size: 7rem;
    color: aliceblue;
    font-weight: 900;
}
section{
    padding: 1rem;
    width: 70%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width:760px){
    button{
        font-size: 1.5rem;
        font-weight: 900;
        background-color: rgb(220, 239, 255);
        border: 5px solid black;
        border-radius: 10px;
    }
    section{
        padding: 1rem 0;
        padding-bottom: 4rem;
        width: 100%;
    }
    h3{
        font-size: 4rem;
        color: aliceblue;
        font-weight: 900;
    }
    .card{
       
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

}

.btn-section{
    width: 100%;
   display:flex;
   flex-direction: column;
   align-items: center;
}
button{
    display: flex;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: rgb(220, 239, 255);
    border: 5px solid black;
    border-radius: 10px;
}
h4{
    font-size: 1.5rem;
}
article{
    color: rgb(163, 163, 163);
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    padding: 1rem 0;
}
article span{
    padding: 0 1rem;
}

.active{
    color: rgb(255, 113, 113);
}